<%=render "shared/content/content_box", title: @message.template.description do%>
<ul data-widget="tree">
  <li><a href="#">One Level</a></li>
  <li class="treeview">
    <a href="#">Multilevel</a>
    <ul class="treeview-menu">
      <li><a href="#">Level 2</a></li>
    </ul>
  </li>
</ul>
<%=@message || alert("Communication with CahasEDI failed or resource does not exist.")%>

<%end%>