  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> pre-alpha
    </div>
    <strong>&copy; <%=Time.now.year%> | <a href="#">Chris Gresock</a>.</strong> All rights
    reserved.
  </footer>