<%=render "layouts/shared/content/content_box", title: "Invoices" do%>

    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
        <tr>
            <th></th>
            <th>Trans Set</th>
            <th>Description</th>
            <th>Trading Partner</th>
            <th>Received On</th>
            <th>Status</th>
        </tr>
    <%=invoices_table || alert("Communication with CahasEDI Failed.") %>
        </table>
    </div>
    <%=%>

<%end%>