
<%= stylesheet_link_tag    '500', media: 'all'%>
<%= javascript_include_tag '500' %>
<div class="box box-solid"style="padding-bottom:30vh;padding-left:30%; padding-right:40%;padding-top:20%">
<div class="" id="error" style="padding-bottom:12rem;" >
  <div id="box">
  <h3> ERROR 500 </h3>
  <p> Things are a little <span> unstable </span> here </p>
  <p> I suggest you come back later </p>
  </div>
</div>
</div>