<div class="row">

<div class="col-6">
<%=render "layouts/shared/content/content_box" do%>
Start creating your amazing application!
<%end%>
</div>
<div class="col-6">
<%=render "layouts/shared/content/content_box" do%>
Start creating your amazing application!
<%end%>
</div>
</div>
<%=render "layouts/shared/content/content_box" do%>
Start creating your amazing application!
<%end%>