<%=render "layouts/shared/content/content_box", title: "Admin Dashboard" do%>
<%=link_to admin_users_path, class:"btn btn-app" do%>
    <span class="badge bg-purple"><%=User.count%></span>
    <i class="fa fa-users"></i> Users
<%end%>
<%end%>