/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";
@import "bootstrap";
@import "./AdminLTE";

.navbar-static-top {
    padding: 0;
}

.logo-img {
    max-width: 8em;
    border-radius: 5px;
    outline: 25px black;
    padding-left: 1.5em;
    padding-top: .3em;
}
.logo-img-mini {
    max-width: 2.5em;
    padding-left: .25em;
    padding-top: .25em;
}
.main-sidebar {
    background: #200d09 !important;
}

.sidebar {
    background: #31150e;
}

.skin-black .sidebar-menu > li:hover > a, .skin-black .sidebar-menu > li.active > a, .skin-black .sidebar-menu > li.menu-open > a {
    background: #200d09 !important;
}

.content-wrapper {
    background: #f0e9e7;
}

div .login-logo {
    background: white;
    padding-top: .5em;
}

.login-box {
    background: white;
    box-shadow: black;
}

.dropdown-toggle::before{
    background: white !important;
    margin-left: 400px;
}