<!DOCTYPE html>
<html>
<%=render "layouts/shared/html_head"%>

  <body class="hold-transition skin-black sidebar-mini">
    <div class="wrapper">
      <%= render "layouts/shared/header" %>
      <%= render "layouts/shared/sidebar" %>
      <div class="content-wrapper">
          <%= yield %>
      </div>
    </div>

  </body>
</html>
